<!-- infomation -->
<div class="infomation clearfix">

 <div class="title"><h2>Infomation</h2>
</div>

<div class="infommation-menu">
<p>2018年　わたしたちの「筋トレ」 マイナビ出版</p>
<p>2018年　株式会社オージオ ビューティーオープナー 卵殻膜美容液 CM出演</p>
<p>2017年　YOGA＆Fitness VOL２</p>
<p>2016年　Woman’s SHAPE VOL16</p>
<p>2015年　介護職ネット 介護従事者向けアロマコラム</p>


</div>


<!-- 講座一覧 -->
<div class="lesson clearfix">

<div class="title"><h2>講座一覧</h2>
 </div>
    <div class="lesson-box">
       <!-- <img class="lesson-image menu01"> -->
       	   <p>顔痩せ小顔矯正術セミナー</p>

<p>ダイエット栄養学セミナー</p>
<p>自宅でできるトレーニングセミナー</p>
<p>yoga初級編</p>
<p>アロマテラピーセミナー</p>
<p>化粧品を変えずに美肌になる化粧品の使い方セミナー</p>
<p>アロマテラピー検定対策</p>
<p>エステティック検定対策</p>

</div>
</div>





<!-- メディア掲載 -->
<div class="media clearfix">

<div class="title"><h2>メディア掲載</h2>
</div>
<p>2018年　わたしたちの「筋トレ」 マイナビ出版</p>
<p>2018年　株式会社オージオ ビューティーオープナー 卵殻膜美容液 CM出演</p>
<p>2017年　YOGA＆Fitness VOL２</p>
<p>2016年　Woman’s SHAPE VOL16</p>
<p>2015年　介護職ネット 介護従事者向けアロマコラム</p>


</div>

</div>
